<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                "http://www.w3.org/TR/REC-html40/loose.dtd">

<html>
<head>
  <title>Piotr's Image & Video Matlab Toolbox</title>
  <meta name="keywords" content="computer vision, images, video, image processing, toolbox">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="robots" content="index, follow">
  <link type="text/css" rel="stylesheet" href="./m2html.css">
</head>
<BODY><A name=_top></A>

<H1>Overview</H1>
<H2>DESCRIPTION<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
 <P><STRONG>This toolbox is meant to facilitate the manipulation of images and
 video in Matlab. Its purpose is to complement, not replace, Matlab's Image
 Processing Toolbox, and in fact it requires that the Matlab Image Toolbox
 be installed. Emphasis has been placed on code efficiency and
 code reuse.  Thanks to everyone who has given me feedback and suggestions --
 you've helped make this toolbox more useful and easier to
 use.</STRONG></P>
</DIV>

<H2>CONTENTS<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
 <STRONG>The toolbox is divided into 4 parts, arranged by directory:</STRONG>
  <UL style="LIST-STYLE-IMAGE: url(./matlabicon.gif)">
   <LI><A href="classify/Contents.html">classify</A> Fast clustering, random ferns, RBF functions, PCA, etc. </LI>
   <LI><A href="filters/Contents.html">filters</A> Routines for filtering images.</LI>
   <LI><A href="images/Contents.html">images</A> Routines for manipulating and displaying images and videos.</LI>
   <LI><A href="matlab/Contents.html">matlab</A> General Matlab functions that should have been a part of Matlab.</LI>
  </UL>
</DIV>

<H2>DOWNLOAD<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
 <P><STRONG>For version history click <a href="history.txt">here.</a>
 This code is licensed under the <a href="http://www.gnu.org/copyleft/lesser.html" target="blank">Lesser GPL.</a></STRONG></P>
 <UL>
  <LI><A href="../piotr_toolbox_V2.64.zip">Version 2.64</A> &nbsp; Apr. 13, 2012
  <LI><A href="../piotr_toolbox_V1.50.zip">Version 1.50</A> &nbsp; July 06, 2007
  <LI><A href="../piotr_toolbox_V1.03.zip">Version 1.03</A> &nbsp; May. 03, 2006
 </UL>
 </DIV>

</DIV>

<H2>INSTALL<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
 <P><STRONG>Simply unzip, then add all directories to the Matlab path:</STRONG>
 <BR>&nbsp; &gt;&gt; addpath(genpath('c:\toolbox')); savepath;</P>
 <P>If needed, run the compile script for the mex files:
   <BR>&nbsp; &gt;&gt; toolboxCompile;
   <BR>Note: 64 bit Windows/Linux/Mac binaries are already included.
 </P> 
</DIV>

<H2>CITE<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
<P><STRONG>If you use use this code in a publication, I would be grateful if you cite: </STRONG></P>
@misc{PMT,
<br />&nbsp;&nbsp; author = {Piotr Doll\'ar},
<br />&nbsp;&nbsp; title = {{P}iotr's {I}mage and {V}ideo {M}atlab {T}oolbox ({PMT})},
<br />&nbsp;&nbsp; howpublished = {\url{http://vision.ucsd.edu/~pdollar/toolbox/doc/index.html}}
<br />}
</DIV>

<H2>CONTACT<A href="#_top"><IMG alt=^ src="up.png" border=0></A></H2>
<DIV class=box>
 If you have a question or a suggestion, or if you find a bug,
 please email me at<FONT style="BACKGROUND-COLOR: #f5f5f5" color=#0000ff>
 pdollar-at-caltech.edu</FONT></DIV></FONT>
</DIV>

<!-- Start of Google Analytics Code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4884268-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<!-- end of Google Analytics Code -->

</BODY>
</html>
